.simple-footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 270px;
  margin-bottom: 0;
  height: 100%;
  background-color: #1d1f20;
  color: white;

  .new {
    border: none;
    margin-top: 10px;
    border-collapse: separate; 
    border-spacing: 10px 10px; /*Horizontal vertical */

    td,th {
      text-align: left;
    }
  }

  .n {
    font-weight: bold;
  }
}